.modalMoudle{
    padding-bottom: 0!important;

    .ant-form-item:last-child{
        margin-bottom:0;
    }

    .ant-modal-close-x{
        padding: 0 18px;
        width:auto;
        height:auto;
        line-height: 48px;
    }

    .ant-modal-header{
        padding: 0 20px;
        cursor: move;

        .ant-modal-title{
            line-height:48px;
            height: 48px;
        }
    }

    .ant-modal-footer{
        padding: 15px;

        button + button{
            margin-left:10px;
        }
    }
}

.vertical-center-modal{
    text-align: center;
    white-space: nowrap;

    &:before{
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        width: 0;
    }

    .ant-modal{
        display: inline-block;
        vertical-align: middle;
        top: 0;
        text-align: left;
    }
}
.mh10 .ant-modal-body{height: calc(~"10vh - 49px - 63px"); overflow:auto;}
.mh20 .ant-modal-body{height: calc(~"20vh - 49px - 63px"); overflow:auto;}
.mh30 .ant-modal-body{height: calc(~"30vh - 49px - 63px"); overflow:auto;}
.mh40 .ant-modal-body{height: calc(~"40vh - 49px - 63px"); overflow:auto;}
.mh50 .ant-modal-body{height: calc(~"50vh - 49px - 63px"); overflow:auto;}
.mh60 .ant-modal-body{height: calc(~"60vh - 49px - 63px"); overflow:auto;}
.mh70 .ant-modal-body{height: calc(~"70vh - 49px - 63px"); overflow:auto;}
.mh80 .ant-modal-body{height: calc(~"80vh - 49px - 63px"); overflow:auto;}
.mh90 .ant-modal-body{height: calc(~"90vh - 49px - 63px"); overflow:auto;}
.mh100 .ant-modal-body{height: calc(~"100vh - 49px - 63px"); overflow:auto;}