/**
 * 设置浏览器默认样式
 */

*{
    margin:0;
    padding:0;
}

html, body, #root{
    height:100%;
}

ul{
    list-style:none;
}

a, i{
    font-style:normal;
    text-decoration:none;
}

/**
 * 常用类
 */

.cf{
    &:after{
        display:table;
        content:'';
        clear:both;
    }
}

.none{
    display:none;
}

.pr{
    position:relative;
}

.pa{
    position:absolute;
}

.fl{
    float:left;
}

.fr{
    float:right;
}

.f12{
    font-size:12px;
}
  
.f14{
    font-size:14px;
}

.ml10{
    margin-left:10px;
}

.mr10{
    margin-right:10px;
}

.mt10{
    margin-top:10px;
}

.mb10{
    margin-bottom:10px;
}

/**
 * 覆盖antd样式
 */
 .spinClass{
    height:100%;
    .ant-spin-container{
      height: 100%;
    }
  }
