.userInfo{
    padding: 50px 0;

    .form{
        width:50%;
        
        .ant-form-item:last-child{
            margin-bottom: 0;
        }
    }

    .photoBox{
        .showImg{
            width: 200px;
            height: 200px;
            background: red;
            border-radius: 50%;
        }
    }
}